# Dependencies
node_modules/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Chrome Extension Artifacts
_metadata/
*.crx
*.pem

# Jekyll / GitHub Pages (Build Artifacts)
docs/_site/
docs/.jekyll-cache/
docs/.jekyll-metadata
docs/.sass-cache/

# Project Specific
gemini.md
descriptions.txt
tmp/
*.log
*.local
